.name-column{
    color: blue;
}

.numero-column{
    font-weight: bold;
}

.table tbody tr {
    background-color: #f0f0f0;
}
.card {
    display: none;
    width: 370px;
    padding: 5px;
}


h3{
    padding: 10px;
}

